<h2 class="white-text"><%= @user.first_name %>'s profile</h2>


<p><%= @user.first_name %>'s reviews</p>
<% @user.reviews.each do |review| %>
<li>
<%= link_to review.game.name, game_path(review.game) %>&nbsp;|&nbsp;<%= review.rating %>
</li>
<% end %>