<p>
<ul id="dropdown2" class="dropdown-content">
  <% Tag.all.each do |tag| %>
  <li><%= link_to(tag.keyword, tag_path(tag)) %></li>
  <% end %>
</ul>
</p>
<a class="dropdown-button white-text" href="#!" data-activates="dropdown2">Filter by tag &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
<div class="row">
  <% @games.each do |game| %>
    <div class="col s12 m4">
      <div class="card">
        <div class="card-image game-image">
          <img src=<%= game.image %>>
        </div>
        <div class="card-action blue-grey darken-2">
        <%= link_to(game.name, game_path(game)) %><span class="right"><%= game.review_avg %></span>
        </div>
      </div>
    </div>
  <% end %>
</div>