Game Index

<% @games.each do |game| %>
<li>
<%= link_to(game.name, game_path(game)) %>
</li>
<% end %>

<% @users.each do |user| %>
<li>
<%= link_to(user.first_name, user_path(user)) %>
</li>
<% end %>
